.cal-header {
  position: fixed;
  top: 0;
  z-index: 2;
  background: white;
}

.cal-header-day {
  display: inline-block;
  width: @day-size;
  text-align: center;
}

#calendar {
  padding: 0 @calendar-padding 0 @calendar-padding;
}