@calendar-padding: 10vw;

.cal-header {
  position: fixed;
  top: 0;
  background: white;
}

.cal-header-day {
  display: inline-block;
}

#calendar {
  padding: 0 @calendar-padding 0 @calendar-padding;
}