.day-box {
  color: #888;
  display: inline-block;
  width: @day-size;
  height: @day-size;
  text-align: center;

  border-top: solid 1px black;

  /* Don't select these */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;

  overflow: hidden;

  -webkit-transition: opacity, color, font-style linear 0.5s;
  -mozilla-transition: opacity, color, font-style linear 0.5s;
  transition: opacity, color, font-style linear 0.5s;
}

.day-active-month {
  color: #222;
}

.day-active-week {
  border-top: solid 1px mediumpurple;
}

.day-active-day {
  font-weight: bold;
  border-top: solid 3px mediumpurple;
}

.day-active-week .day-date {
  color: mediumpurple;
}

.day-date {
  // Gross, need it so the tick boxes get centred correctly though.
  position: absolute;
  width: @day-size;
}

.day-box-even .day-date {
}

.day-tick-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* align horizontal */
  align-items: center;
  height: @day-size;
}

.day-tick {
  width: 50%;
  font-size: 4em;
  flex: 1 0 auto;
  -webkit-transition: all linear 0.5s;
  -mozilla-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.day-tick.ng-hide {
  opacity:0;
}