@days-per-row: 7;
@day-size: ((100 - (@calendar-padding * 2)) / @days-per-row);

.day-box {
  background-color: #AAA;
  display: inline-block;
  width: @day-size;
  height: @day-size;
  text-align: center;

  border: solid 1px black;

  border-radius: 5px;

  /* Don't select these */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;

  overflow: hidden;
}

.day-box-even {
  background-color: #888
}

.day-date {
  // Gross, need it so the tick boxes get centred correctly though.
  position: absolute;
  width: @day-size;
  border-bottom: 2px solid gray;
}

.day-box-even .day-date {
  border-bottom: 2px solid #222;
}

.day-tick-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* align horizontal */
  align-items: center;
  height: @day-size;
}

.day-tick {
  width: 50%;
  font-size: 4em;
  flex: 1 0 auto;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.day-tick.ng-hide {
  opacity:0;
}