<div id="calendar" class="cal-container noise">
  <div class="cal-header">
    <div class="cal-header-day">Sun</div>
    <div class="cal-header-day">Mon</div>
    <div class="cal-header-day">Tue</div>
    <div class="cal-header-day">Wed</div>
    <div class="cal-header-day">Thu</div>
    <div class="cal-header-day">Fri</div>
    <div class="cal-header-day">Sat</div>
  </div>
  <div class="btn btn-default btn-sm" id='scrollToTodayBtn' ng-click="calCtrl.selectToday()">
    <p>Scroll to today</p>
    <i class="fa fa-4x fa-caret-down"></i>
  </div>
  <day ng-repeat="day in calCtrl.days"></day>
</div>