<nav id="journal" class="row navbar navbar-inverse navbar-fixed-bottom journal arrow-pos-{{jCtrl.getArrowPosition()}}">

  <div class="journal-tick-wrapper col-xs-2">
    <div class="day-box journal-day-box" ng-click="jCtrl.checkDay()">
      <div class="day-tick-grid journal-day-tick-grid">
        <i class="day-tick journal-day-tick fa fa-check" ng-show="jCtrl.dayChecked()"></i>
      </div>
    </div>
  </div>

  <div class="journal-note-wrapper col-xs-4">
    <div class="journal-note-box">
      <!--
      <div class="journal-note-header">
        <i class="fa fa-pencil-square"></i>
        <span class="journal-note-header-text">Notes<span>
      </div> -->

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add note..."
        ng-model="jCtrl.noteDm"
        ui-keypress="{'enter': 'jCtrl.addNote()'}">

        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="jCtrl.addNote()"><i class="fa fa-plus"></i></button>
        </span>
      </div>

      <div class="journal-note-list">
        <p ng-repeat="note in jCtrl.getNotes() track by $index"><i class="fa fa-circle-o"></i>  {{note}}</p>
      </div>
    </div>
  </div>

  <div class="journal-info-wrapper col-xs-6">
    <h2 ng-bind="jCtrl.displayDay()" class="journal-header pull-right"></h2>
    <login></login>
  </div>

</nav>