@import "./variables.less";
@import "./components/calendar.less";
@import "./components/day.less";
@import "./components/journal.less";

body {
  padding-top: 10px;
  background: @calendar-background;
  color: @font-gray;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}