@calendar-padding: 10vw;

@days-per-row: 7;
@day-size: ((100 - (@calendar-padding * 2)) / @days-per-row);

@journal-height: 35vh;
@journal-color: #222;
@journal-border-color: #808080;
@journal-text-colour: ivory;