// // Squares
// @font-grey: #ccc;
// @bg-grey: #2a2e35;
// @alt-grey: #393d48;
// @highlight: #f2b11c;

// Forest
@font-grey: #ccc;
@alt-grey: #1A1816;
@bg-grey: #272522;
// @bg-grey: #413D38;
@highlight: #57bd3e;
@journal-text-colour: @font-grey;

// // Piano
// @font-grey: black;
// @alt-grey: #222;
// @bg-grey: #eee;
// @highlight: red;

// // Purple Highlights
// @font-grey: #514E57;
// @alt-grey: #302B32;
// @bg-grey: #F0F0F0;
// @highlight: #725076;
// @journal-color: @alt-grey;
// @journal-border-color: @alt-grey;
// @journal-text-colour: @bg-grey;

@calendar-padding: 10vw;
@calendar-background: @bg-grey;

@days-per-row: 7;
@day-size: ((100 - (@calendar-padding * 2)) / @days-per-row);
@day-font-color: @font-grey;
@day-highlight: @highlight;

@journal-height: 35vh;
@journal-color: @alt-grey;
@journal-border-color: @alt-grey;
@journal-text-colour: @font-grey;